@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Movie Registry</h1>
    <p>Click  <a asp-controller="Home" asp-action="RegistrationPage">here</a> to register a movie.</p>
</div>
